table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    

}

td,
th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 15px;
}

tr:nth-child(even) {
    background-color: #dddddd;
    
}

.sales {
    padding: 50px;
    position: centre;
    border-radius: 20px;
    background-color: plum;
    width: 300px;
    margin-left: 30px;
    height: 100px;
}

.cust {
    padding: 50px;
    position: centre;
    border-radius: 20px;
    background-color: palevioletred;
    width: 300px;
    height: 100px;
    margin-left: 460px;
    margin-top: -200px;

}
.amt {
    padding: 50px;
    position: centre;
    border-radius: 20px;
    background-color: peru;
    width: 300px;
    height: 100px;
    margin-left: 890px;
    margin-top: -200px;

}