<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/register.css">
    <title>Document</title>
</head>
<body>
  
    <h1>Register Page</h1>
    
<div >
    <form  id="register">
        <div >
            <label>Username</label>
              <div><input type="text" id="username"name="username" style="width:500px;"></div>
        </div>
      <br>
        <div >
                    <label>Password</label>
                    <div> <input type="password" id="password"name="password" style="width:500px;"></div>
        </div>
      <br>
        <br>
        <button style="color:white;background-color:blue">Submit</button>
        <br>
    </div>
    </form>
    <script src="../static/js/register.js"></script>
</body>
</html>