<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="css/retail.css">
        

</head>

<body>
    <script src="learn.js" ></script>
    <br>
    <h1>Dashboard</h1>
    <br>
   
    <div >
    <div id="sale" >
        <h3 id="sales"> </h3>
        <h3>Total Sales</h3>
        <h3 style ="color: white;">increased by 60 %</h3>
    </div>

    <div id="unq">
        <h3 id ="cust"></h3>
        <h3>Unique Vistors</h3>
        <h3 style ="color: white;">increased by 40 %</h3>

    </div>

    <div id="amt">
        <h3 id="avg_amt"></h3>
        <h3>Average Sales</h3>
        <h3 style ="color: white;">increased by 50 %</h3>
    </div>
    <br>
    <br>

    <h2>Product Table</h2>
    <div >
        <table >
            <tr>
                <th>Product ID</th>
                <th>User ID</th>
                <th>Product Description</th>
                <th>Sales Amount</th>
            </tr>

            <tbody id="daily_sales">
                <tr>
               
            </tr>

           
            </tbody>


        </table>

    </div>
</div>

<script src="../static/js/script.js"></script>


</body>

</html>