#register{
    padding-top: 30px;
    padding-left: 50px;
    padding-bottom: 50px;
    padding-right: 30px; 
    margin-right: 300px;
    margin-left: 300px;
    background-image:url('../img/register.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    
}