
table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    

}

td,
th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 15px;
}

tr:nth-child(even) {
    background-color: #dddddd;
    
}

#sale {
    padding: 100px;
    
    position: centre;
    border-radius: 20px;
    background-color: plum;
    width: 400px;
    margin-left: 40px;
    height: 100px;
    
}

#unq {
    padding: 100px;
    position: centre;
    border-radius: 20px;
    background-color: palevioletred;
    width: 400px;
    height: 100px;
    margin-left: 470px;
    margin-top:-200px ;
    
    

}
#amt {
    padding: 100px;
    position:centre;
    border-radius: 20px;
    background-color: peru;
    width: 400px;
    height: 100px;
    margin-left: 900px;
    margin-top:-200px ;

}

#sale #s{
    margin-top: -70px;
    margin-left: -30px;

}
#unq #u{
    margin-top: -70px;
    margin-left: -30px;

}
#amt #a{
    margin-top: -70px;
    margin-left: -30px;

}